option_settings:
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.small
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
  aws:elasticbeanstalk:command:
    DeploymentPolicy: AllAtOnce
  aws:elasticbeanstalk:application:environment:
    APP_ENV: production
    ENABLE_OCR: "true"
    AWS_REGION: ap-southeast-2
    OCR_S3_PREFIX: prod/ocr
    PORT: "8000"
    DB_ENGINE: mysql
    DB_SSL_CA: /etc/pki/rds/global-bundle.pem
    DB_CONN_HEALTH_CHECKS: "true"
    DJANGO_DEBUG: "false"
    DJANGO_SECURE_SSL_REDIRECT: "false"
    PYTHONUNBUFFERED: "1"
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: "true"
    DeleteOnTerminate: "false"
    RetentionInDays: "30"
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /health/
    MatcherHTTPCode: "200"

container_commands:
  00_bootstrap_database:
    command: "python manage.py bootstrap_database"
    leader_only: true
  01_collectstatic:
    command: "python manage.py collectstatic --noinput"
  02_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true
